<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%=app.title%>--用户登录</title>
	<link rel="stylesheet" href="/css/reg.css"/>
</head>
<body>
<div class="reg-panel">
	<div class="nav">
		<a href="/">返回首页</a>
	</div>

	<div id="wrapper">
		<div id="sidebar">
			<div class="logo-lg">

			</div>
		</div>
		<div id="main">
			....
		</div>
	</div>
</div>
</body>
</html>