button {
  padding: 5px 10px;
  border-radius: 4px;
}
.btn-primary {
  border: solid 1px transparent;
  background: #0acc99;
  color: #ffffff;
}
.form-group {
  margin-bottom: 1em;
}
.form-group label {
  display: inline-block;
  margin-bottom: .5em;
  font-weight: 700;
}
.form-group input {
  padding: .5em;
  font-size: 1em;
  line-height: 1.2em;
  border: 1px solid #cccccc;
}
