body {
  margin: 0px;
  padding: 0;
  font-family: tahoma, arial, \5FAE\8F6F\96C5\9ED1, \5B8B\4F53, serif;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
  display: inline-block;
}
input {
  display: block;
}
.logo {
  max-width: 100%;
  height: 160px;
  border: none;
  vertical-align: middle;
  background: url("../imgs/pub/logo.png") no-repeat;
  background-size: contain;
}
.box-shadow {
  -webkit-box-shadow: 0 1px 7px rgba(46, 46, 46, 0.3);
  -ms-box-shadow: 0 1px 7px rgba(46, 46, 46, 0.3);
  -o-box-shadow: 0 1px 7px rgba(46, 46, 46, 0.3);
  box-shadow: 0 1px 7px rgba(46, 46, 46, 0.3);
}
.them-link {
  color: #0acc99;
}
.comm-link {
  color: #ffffff;
}
header {
  background-color: #0acc99;
}
.top-nav {
  font-size: 14px;
  height: 50px;
  line-height: 50px;
  width: 100%;
  margin: auto;
  max-width: 1000px;
  text-align: right;
}
.top-nav a {
  color: #ffffff;
}
