body {
  margin: 0px;
  padding: 0;
  font-family: tahoma, arial, \5FAE\8F6F\96C5\9ED1, \5B8B\4F53, serif;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
  display: inline-block;
}
label {
  display: inline-block;
}
input {
  display: block;
}
.logo {
  max-width: 100%;
  height: 160px;
  border: none;
  vertical-align: middle;
  background: url("../imgs/pub/logo.png") no-repeat;
  background-size: contain;
}
.tip {
  color: #ff0000;
}
.box-shadow {
  -webkit-box-shadow: 0 1px 7px rgba(46, 46, 46, 0.3);
  -ms-box-shadow: 0 1px 7px rgba(46, 46, 46, 0.3);
  -o-box-shadow: 0 1px 7px rgba(46, 46, 46, 0.3);
  box-shadow: 0 1px 7px rgba(46, 46, 46, 0.3);
}
.them-link {
  color: #0acc99;
}
.comm-link {
  color: #ffffff;
}
*[class^='icon'] {
  background-image: url("../imgs/icon/backgrounds.32.png");
}
.icon-email {
  margin-top: 12px;
  width: 12px;
  height: 12px;
  background-position: -571px -51px;
}
.icon-pwd {
  margin-top: 10px;
  width: 12px;
  height: 16px;
  background-position: -571px -17px;
}
.icon-nick-name {
  margin-top: 10px;
  width: 12px;
  height: 12px;
  background-position: -571px -68px;
}
.btn {
  padding: 5px 15px;
  border-radius: 4px;
}
.btn.lg {
  padding: 10px 30px;
}
.btn-primary {
  border: solid 1px transparent;
  background: #0acc99;
  color: #ffffff;
}
.form-group {
  margin-bottom: .4em;
}
.form-group label {
  display: inline-block;
}
.form-group input {
  font-size: .9em;
  line-height: 1.2em;
  border: 1px solid #cccccc;
}
.form-group .ipt-md {
  width: 90px;
  padding: 7.5px;
}
.form-group.icon label {
  position: absolute;
  margin-left: 5px;
}
.form-control {
  width: 165px;
  padding: 7.5px 7.5px 7.5px 22.5px;
}
[class^="ipt"]:focus,
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.form-control::-moz-placeholder {
  color: #d7d7d7;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #d7d7d7;
}
.form-control::-webkit-input-placeholder {
  color: #d7d7d7;
}
.agree-me {
  font-size: .8em;
}
body {
  background-position: 50% 0;
  background-repeat: repeat-y;
  background-image: url("../imgs/bg/reg_bg.jpg");
}
.reg-panel {
  margin: 100px auto;
  height: 685px;
  width: 80%;
  max-width: 900px;
  vertical-align: middle;
}
.reg-panel .nav {
  height: 24px;
  text-align: right;
}
.reg-panel a {
  color: #0acc99;
}
.reg-panel .sidebar {
  float: left;
  width: 20%;
  height: 200px;
}
.reg-panel .main {
  float: left;
  height: 420px;
  margin-left: 10px;
  vertical-align: bottom;
  padding: 0 30px;
  background: #f7f7f7;
  border-radius: 4px;
}
.reg-panel .main,
.reg-panel .sidebar {
  padding-bottom: 2em;
}
.reg-form {
  padding-right: 50px;
  width: 230px;
}
.by-email,
.co-agent {
  float: left;
}
#reg-agree-me {
  display: inline-block;
  float: left;
}
