@import "variables";
.form-group{
  margin-bottom: 1em;

  label{
    display: inline-block;
    margin-bottom: .5em;
    font-weight: 700;
  }

  input{
    padding: .5em;
    font-size: 1em;
    line-height: 1.2em;
    border: @grey-border-sm;
  }
}