@import "variables";

.btn {
  padding: @dis-sm @dis-lg;
  border-radius: 4px;
}

.btn.lg {
  padding: @dis-sm*2 @dis-lg*2;
}

.btn-primary {
  border: solid 1px transparent;
  background: @bgc-nav-top;
  color: @comm-link-color;
}

.form-group {
  margin-bottom: .4em;

  label {
    display: inline-block;
    margin-bottom: .5em;
    font-weight: 700;
  }

  input {
    padding: .5em;
    font-size: 1em;
    line-height: 1.2em;
    border: @grey-border-sm;
  }
}

