@import "variables";

.btn {
  padding: @dis-sm @dis-lg;
  border-radius: 4px;
}

.btn.lg {
  padding: @dis-sm*2 @dis-lg*2;
}

.btn-primary {
  border: solid 1px transparent;
  background: @bgc-nav-top;
  color: @comm-link-color;
}

.form-group {
  margin-bottom: .4em;

  label {
    display: inline-block;
  }
  input {
    font-size: .9em;
    line-height: 1.2em;
    border: @grey-border-sm;
  }
  .ipt-md{
    width: @dis-lg*6;
    padding: @dis-sm*1.5;
  }
}
.form-group.icon label{
  position: absolute;
  margin-left: @dis-sm;
}

.form-control{
  width: @dis-lg*11;
  padding: @dis-sm*1.5 @dis-sm*1.5 @dis-sm*1.5 @dis-lg*1.5;
}

[class^="ipt"]:focus,.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.form-control::-moz-placeholder {
  color: @comm-color;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: @comm-color;
}
.form-control::-webkit-input-placeholder {
  color: @comm-color;
}
.agree-me{

  font-size: .8em;
}