@import "variables";

.top-nav {
  font-size: @font-size-small;
  height: @height-nav-top;
  background-color: @bgc-nav-top;
  a {
    color: @comm-link-color;
  }
  a:hover {
    color: @comm-link-hover-color;
  }
}