@import "mixins";
@import "public";
body {
  background-position: 50% 0;
  background-repeat: repeat-y;
  background-image: url("../imgs/bg/reg_bg.jpg");
}

.reg-panel {
  margin: 100px auto;
  height: 485px;
  max-width: 900px;
  vertical-align: middle;
  .nav {
    padding-bottom: @cons-md;
    height: 24px;
    text-align: right;
  }

  a {
    color: @comm-link-color;
  }

  .logo-lg {
    float: left;
  }
}

.wrap {
  float: left;
  background-color: @bgc-panel;
  border-radius: @cons-sm;
  .text-shadow-sm();
  .side {
    float: left;
  }

  .title {
    color: @them-link-color;
    text-align: center;
    line-height: @cons-lg*2;
    .border-bottom(#b5bbb5);
  }
  .main {
    float: left;
  }

  .main, .sidebar {
    padding-bottom: 2em;
  }
}

