//font size
@font-size-sm: 12px;
@font-size-md: 14px;

//height
@height-nav-top : 50px;

//colors
@comm-link-color: #ffffff;
@comm-link-hover-color: #ffffff;

@them-link-color: #0ACC99;


//background
@bgc-nav-top : #0ACC99;
