//font size
@font-size-sm: 12px;
@font-size-md: 14px;

@dis-sm: 5px;
@dis-md: 10px;
@dis-lg: 15px;

//width


//height
@height-nav-top : 50px;

//colors
@comm-color: #d7d7d7;
@comm-link-color: #ffffff;
@comm-link-hover-color: #ffffff;

@them-link-color: #0ACC99;


//border
@grey-border-sm: 1px solid #cccccc;

//background
@bgc-nav-top : #0ACC99;
