//constant
@cons-sm: 0.5em;
@cons-md: 1em;
@cons-lg: 1.5em;


//font size
@font-size-sm: 0.75em;
@font-size-md: 1em;


//height
@height-nav-top : 50px;

//colors
@comm-border-color: #efefef;
@comm-link-color: #ffffff;
@comm-link-hover-color: #ffffff;

@them-link-color: #0ACC99;


//background
@bgc-panel: #f4f4f4;
@bgc-nav-top : #0ACC99;
